__pycache__
starter/__pycache__
starter/.pytest_cache
starter/data/census.csv
starter/data/clean_census.csv
starter/model/rf_model.pkl
starter/mode/encoder.pkl
starter/mode/lb.pkl
starter/starter/__pycache__